:root {
  --main-color: #282ED8;
  --bg-color: #111827;
  --text-color: #F3F4F6;
  --username-color: var(--text-color);
  --link-color: #93C5FD;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}

.colorbar:first-of-type {
  margin-bottom: 2rem;
}

.colorbar:last-of-type {
  margin-top: 2rem;
}

.colorbar {
  background-color: var(--main-color);
  min-height: 1em;
  min-width: 100%;
}

.self-intro {
  margin-top: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2.5rem;
  padding: 0 0.5em;
}

.self-intro img {
  width: 6.5em;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  border: 4px solid gray;
  background-color: white;
}

.username-container {
  display: inline-block;
  border-radius: .5rem;
  font-size: .9em;
  padding-top: .05rem;
  padding-bottom: .05rem;
  padding-left: .5rem;
  padding-right: .5rem;
  color: var(--username-color);
  background-color: var(--main-color);
  transform: rotate(-0.01turn);
  font-family: username, sans-serif;
}

.self-details {
  margin-bottom: auto;
  text-align: center;
  font-size: 1.25em;
}

.self-details > * {
  max-width: 75%;
}

.self-details p {
  margin: 1.5rem auto;
}

.link-list {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.link-list {
  list-style-type: none;
}

a {
  text-decoration: underline;
  margin: 0.25em;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--link-color);
}

@font-face {
  font-family: username;
  src: url(./fonts/username/username.woff2);
  font-weight: bold;
  font-display: swap;
}

/* light mode changes */
@media (prefers-color-scheme: light) {
  :root {
    --main-color: #2987D9;
    --bg-color: #F3F4F6;
    --text-color: #111827;
    --username-color: #F3F4F6;
    --link-color: #1D4ED8;
  }
}

/* reduce text gutters on thinner viewports */
@media (max-width: 600px) {
  .self-details > * {
    max-width: 90%;
  }
}
